<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/globals.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
</head>

<body>
  <h1>Login</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="flash-{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('login') }}">
    <input type="text" id="username" name="username" required />
    <input type="password" id="password" name="password" required />
    <input type="submit" value="Login" />
  </form>
  <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</body>

</html>
